.slider{
  width: 500px;
  height: 300px;
  position: relative;

  .slide{
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .arrow{
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    color:white

  }
  .left-arrow{
    left:50px;
  }
  .right-arrow{
    right:50px;
  }

  .dots{
    display: flex;
    justify-content: center;
    .dot{
      cursor: pointer;
      font-size: 50px;
    }
  }

}




