


<div *ngIf="itemCount"> {{'A termékek száma: '+itemCount}}  </div>






<!--h1>Regisztráció</h1>

<form [formGroup]="regForm">

  <label for="user-name">First name</label>
  <input
    id="user-name"
    type="text"
    class="form-control"
    formControlName="firstName"
  >

  <p *ngIf="regForm.controls['firstName'].invalid && (regForm.controls['firstName'].touched || regForm.controls['firstName'].dirty)" >
    Kötelező mező
  </p>

  <br>
  <label for="email">Last name</label>
  <input
    id="email"
    type="email"
    class="form-control"
    formControlName="lastName"
  >
  <p *ngIf="regForm.controls['lastName'].invalid && (regForm.controls['lastName'].touched || regForm.controls['lastName'].dirty)" >
    Kötelező mező
  </p>
  <br>
  <label for="password">Age</label>
  <input
    id="password"
    type="number"
    class="form-control"
    formControlName="age"
  >
  <p *ngIf="regForm.controls['age'].invalid && (regForm.controls['age'].touched || regForm.controls['age'].dirty)" >
    Kötelező mező
  </p>
  <br>



<br>
<button type="submit" (click)="register()">Regisztráció</button>
</form-->
