

<!-- BEM model-->
<!-- BLOCK, ELEMENT, MODIFIER -->

<button class="button button--blue ">
  <img class="button__icon" src="../favicon.ico">
  <p class="button__label">BEM 1</p>
</button>

<button class="button button--red">
  <img class="button__icon" src="../favicon.ico">
  <p class="button__label">BEM 2</p>
</button>

<!--foreach-->

<button class="social-login-button--facebook">Facebook</button>
<button class="social-login-button--google">Google</button>
<button class="social-login-button--linkedin">Linkedin</button>


<!--PLACEHOLDERS-->

<button class="button button--error">ERROR</button>
<button class="button button--success">SUCCESS</button>
