
<div id="playground">

  <input [(ngModel)]="rowCount" type="number">
  <button (click)="newGame()">Új játék</button>

  <input [(ngModel)]="lobbyId" type="number">
  <button (click)="connectToLobby()">Csatlakozás játékhoz</button>

  <p>Szoba azonosító: <span *ngIf="lobbyId > 0">{{lobbyId}}</span></p>

  <p *ngIf="game.length>2">A soron következő játékos a: {{gameService.activePlayerIndex}}</p>

<ng-container *ngIf="game.length>2">
  <ng-container *ngFor="let row of game; let i = index" >
    <ng-container *ngFor="let field of row; let j = index">
      <app-field
      [fieldStatus]="field"
      [fieldCoords]="{i:i,j:j}"
      [lineBreakNeeded]="j+1 === row.length"
      [playableGame] = "(playableGame$ | async) || false"
      >
      </app-field>
    </ng-container>
  </ng-container>
</ng-container>



  <div *ngIf="errorMessage.length">{{errorMessage}}</div>
</div>



