<div class="container">
  <div class="currency-change-container">
    <div>
      <app-currency-selector label="Honnan szertnél váltani?"
      (currencyChanged)="currencyChanged($event, 'from')"></app-currency-selector>

      <input [(ngModel)]="fromSum" >
    </div>
    <div>
      <app-to-currency-selector label="Hova szertnél váltani?"
      (currencyChanged)="currencyChanged($event, 'to')"></app-to-currency-selector>
      <p>Az összeg: {{toSum |async}}</p>
    </div>
  </div>
  <div class="button-container">
    <button (click)="exchangeMoney()">Pénzváltás</button>
  </div>

</div>

